
* {
    margin: 0;
    box-sizing:  border-box;
    /* overflow-x: hidden; */
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}
*:focus {
  outline: none;
  box-shadow: none;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    background-color: #eeeeee
}



header {
    background: #2f3640;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
}



nav {
    padding: 0.8rem 2rem;
    display: flex;
    background: #353b48;
    color: #fff;
    font-weight: bold;
    justify-content: space-between;
}
.menu_bar {
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.nick_name {
    padding: 4px 9px;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px solid #eeeeee;
    border-radius: 10px;
    font-style: italic;
    cursor: pointer;
    transition: all 0.3s ease;
}
.nick_name a {
    color: #fff;
    text-decoration: none;
}
.menu_bar span {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    cursor: pointer;
}
.menu_bar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
.menu_bar a:hover {
    color: #00a8ff;
}
.dropdown {
    display: none;
}



.introduction_section, .about_section, .skills_section, .other {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 2rem;
    margin: 2rem;
}
h2 {
    color: #273c75;
}
.paragraph {
    text-indent: 0.8rem;
    font-size: 18px;
}


/* Introduction */
.introduction-content {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.introduction-content img {
    width: 180px;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}
.introduction-text {
    flex: 1;
    /* padding-right: 1rem; */
    min-width: 250px;
    /* text-indent: 0.8rem; */
}


/* About */
.about-grid {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
}
.about-grid img {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    justify-self: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}
.about-grid ul {
    list-style: none;
    padding-left: 3rem;
    line-height: 2;
}
.about-grid li strong {
    color: #273c75;
}
.about-grid i {
    margin-top: 1rem;
    margin-right: 1rem;
    color: #273c75;
    font-size: 30px;
    transition: all 0.3s ease;
}


/* Projects */
.projecs_section h2 {
    padding-left: 2rem;
    color: #0a1c4f;
}
.projecs_section {
    background: linear-gradient(45deg, #00aaff43, #33a0ffa6, #3374ad79);
    padding: 3rem 2rem;
}
.projects-grid {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;

}
.project-card {
    background: #d6f1ffd6;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}
.project-card p {
    margin-top: 0.3rem;
}


/* Skills */
.skills-list {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 2rem;
}
.skill-item {
    cursor: pointer;
}
.skill-item p {
    margin: 0 auto;
    background: #00a8ff;
    color: #fff;
    padding: 0.8rem 0;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    font-weight: bold;
    transition: all 0.3s ease;
}
.bar {
  width: 70%;
  margin: 0 auto;
  margin-top: 0.5rem;
  height: 12px;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
}
.fill {
  height: 100%;
  background-color: #4caf50;
  width: var(--width);
  transition: width 0.3s;
}


/* Other */
.other-grid {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
.other-card {
    background: #f0f4ff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    /* transition: transform 0.3s; */
    transition: all 0.3s ease;
    cursor: pointer;
}
.other-card p {
    margin-top: 0.3rem;
}
.troll {
    color: #f0f4ff;
}


/* Question */
.question {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 2rem;
    margin: 2rem;
    background-color: #f8f9fa;
}
.question h3 {
    text-align: center;
    color: #3498db;
    font-weight: bold;
}
.question-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}
.question-form form {
    margin: 0 auto;
    padding: 20px;
    max-width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.question-form .text-form-top {
    display: none;
}
.question-form .text-form-right {
    margin-top: auto;
    margin-bottom: auto;
    line-height: 2;
}
.question-form p {
    margin-top: 0.5rem;
}
input, textarea, button {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    display: block;
    padding: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #00aaff;
    color: #fff;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.question-form > div {
    font-size: 18px;
}
.question-form strong {
    font-style: italic;
    color: #273c75;
}
.question-form i {
    font-size: 10px;
}
.thanks {
    margin: 0.5rem;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}
textarea {
    min-height: 180px;
}




footer {
    background: #2f3640;
    color: #fff;
    padding: 1.5rem;
    padding-left: 2rem;
    font-size: 0.9rem;
}
i {
    margin-right: 0.5rem;
}




.faq {
    display: flex;
    padding: 0 2rem 0rem 2rem;
    justify-content: flex-end;
    font-size: 20px;
}
.faq a {
    text-decoration: none;
    padding: 0 0.5rem;
    color: black;
    font-weight: bold;
    transition: all 0.3s ease;
}




@media (max-width: 400px) {    
    .other-grid {
        display: grid;
        grid-template-columns: none;
    }
}


@media (max-width: 744px) {
    .question-form .text-form-top {
        display: block;
        text-align: center;
    }
    .question-form .text-form-right {
        display: none;
    }
    .question-form {
        display: grid;
        grid-template-columns: none;
    }
}


@media (max-width: 768px) {
    .introduction-content {
        flex-direction: column;
    }

    .about-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-grid ul {
        padding: 0;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: none;
    }

    .menu_bar {
        display: none;
    }
    .dropdown {
        display: block;
        position: relative;
        display: inline-block;
    }
    .dropdown p {
        background-color: #3498db;
        color: white;
        padding: 10px 16px;
        border: none;
        cursor: pointer;
        border-radius: 6px;
    }
    .dropdown p i {
        margin: 0;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #efefef;
        min-width: 300px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.3);
        border-radius: 10px;
        z-index: 1;
        top: 3.2rem;
        right: -1.5rem;
    }
    .dropdown-content div {
        padding: 1.5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 1rem;
    }
    .dropdown-content a {
        padding: 0.5rem;
        color: black;
        border-radius: 10px;
        background-color: #fff;
        text-decoration: none;
        box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        text-align: center;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown-content a:active {
        color: #00a8ff;
    }
}

@media (hover: hover) and (pointer: fine) {
    .nick_name:hover {
        background-color: #00a8ff;
    }

    .about-grid i:hover {
        color: #00a8ff;
    }
    
    .project-card:hover {
        transform: translateY(-5px);
    }
    
    .skill-item p:hover {
        transform: translateY(-5px);
        box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    }

    .other-card:hover {
        transform: translateY(-5px);
    }
    .troll:hover {
        color: black;
    }

    button:hover {
      background: #2b36ab;
    }

    .faq a:hover {
        color: #00a8ff;
        background-color: #f0f4ff;
    }

    textarea {
        resize: none;
    }

}


@media (hover: none) and (pointer: coarse) {
    .nick_name:active {
        background-color: #00a8ff;
    }

    .about-grid i:active {
        color: #00a8ff;
    }

    .project-card:active {
        transform: translateY(-5px);
    }
    
    .skill-item p:active {
        transform: translateY(-5px);
        box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    }
    
    .other-card:active {
        transform: translateY(-5px);
    }
    .troll:active {
        color: black;
    }

    button:active {
      background: #2b36ab;
    }

    .faq a:active {
        color: #00a8ff;
        background-color: #f0f4ff;
    }

    textarea {
        resize: vertical;
    }

}