@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
  --font-serif: 'Instrument Serif', serif;
}

:root {
  --ui-container: var(--container-4xl);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}

* {
  box-sizing: border-box;
  /* overflow-x: hidden; */
  user-select: none;
  /* -webkit-tap-highlight-color: transparent; */
  touch-action: manipulation;

  /* border-color: var(--color-border); */
}

*:focus {
  outline: none;
  box-shadow: none;
}

img,
a {
  -webkit-user-drag: none;
}
